<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    {{{_section.head}}}
</head>
<body>
    <header><img src="/img/circle.png" alt="logo"></header>
    {{{body}}}
    {{!--<script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>--}}
    <script src="/js/jquery.min.js"></script>
    {{{_section.jquery}}}
</body>
</html>