<body>
	<table cellpadding="0" cellspacing="0" border="0" id="backgroundTable">
        <tr>
            <td valign="top">
                <table cellpadding="0" cellspacing="0" border="0" align="center">
                    <tr>
                        <td width="200" valign="top">
                            <img width="180" height="180" src="http://placehold.it/100x100" alt="logo" title="logo" class="image_fix">
                        </td>
                        <td width="200" valign="top">
                            <p>感谢您购买我们的产品{{cart.billing.name}}!</p>
                            <p>您的购物号为{{cart.number}}</p>
                        </td>
                        <td width="200" valign="top">
                            如果有预定问题请联系<span class="mobile_link">123-45678</span>
                        </td>
                    </tr>
                </table>
                <a href="http://htmlemailboilerplate.com" target ="_blank" title="Styling Links" style="color: orange; text-decoration: none;">Coloring Links appropriately</a>
                <img class="image_fix" src="full path to image" alt="Your alt text" title="Your title text" width="x" height="x" />
                <span class="mobile_link">123-456-7890</span>
            </td>
        </tr>
	</table>
</body>