{{#section 'head'}}
<meta name="robots" content="noindex"> 
{{/section}}

<h1>test page</h1>
<p>we are testig some jquery stuff</p>

{{#section 'jquery'}}
    <script>
        $('document').ready(function(){
            $('h1').html('jquery work')
        })
    </script> 
{{/section}}