{{!--从本质上讲，Handlebars.compile接收一个模板，返回一个方法，这个方法接收一个上下文对象（一般是需要的数据）,
返回一个一渲染的字符串，所以一旦我们编译了模板，就可以像调用方法功能一样重用模板渲染--}}

{{#section 'head'}}
<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"></script>
<script id="nurseryTemplate" type="text/x-handlerbars-template">
        marry had a little <b>\{{animal}}</b>,
        its <b>\{{bodyPart}}</b>
        was <b>\{{adjective}}</b> as <b>\{{noun}}</b>
    </script> {{/section}} {{!--{{#section 'jquery'}} $(document).ready(function(){ var nurseryRhymeTemplate = Handlebars.compile($('#nurseryTemplate').html());
}) {{/section}}--}}

<div id="nurseryRhyme">click a button ...</div>
<button id="btn">generate nursery rhyme</button>
<button id="btnAjax">generate nursery rhyme from ajax</button> {{#section 'jquery'}}
<script>
        $(document).ready(function(){
            var nurseryRhymeTemplate = Handlebars.compile($('#nurseryTemplate').html());

            $('#btn').click(function(event){
                event.preventDefault();
                $('#nurseryRhyme').html(nurseryRhymeTemplate({
                    animal:'basilisk',
                    bodyPart:'tail',
                    adjective:'sharp',
                    noun:'a needle'
                }));
            });

            $('#btnAjax').click(function(event){
                event.preventDefault();
                {{!--$.ajax('/data/nursery-rhyme',function(data){
                    console.log(data)
                    $('#nurseryRhyme').html(nurseryRhymeTemplate(data));
                })--}}
                $.ajax({
                    url:'/data/nursery-rhyme',
                    type:'get',
                    success:function(data){
                        console.log(data)
                    $('#nurseryRhyme').html(nurseryRhymeTemplate(data));
                    }
                })
            })
        })
    </script> {{/section}}